{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('build/homepage.index.js') }}"></script>
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/homepage.index.css') }}">{% endblock %}
{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
{{ include('_menu.html.twig') }}

    <div class="container">

        <div class="starter-template">
        </div>

    </div><!-- /.container -->
{% endblock %}
