{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    {% set var = [] %}
    {% for image in product.images %}
        {% set var = var|merge([image.name]) %}
    {% endfor %}
    <h1>Edit Product</h1>
    <script>
        var images = {{var | json_encode | raw}};
    </script>


    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}">back to list</a>


{% endblock %}